@use '../utility/variable';
.hero {
    background-color: variable.$title-bg-color;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/image-background/hero-bg-mob-1x.jpg);
            background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 225px;
    @media (min-device-pixel-ratio:2),(min-resolution:192dpi), (min-resolution:2dppx){
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../images/image-background/hero-bg-mob-2x.jpg);
    }
    @media screen and (min-width:768px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/image-background/hero-bg-tab-1x.jpg);
    @media (min-device-pixel-ratio:2),
        (min-resolution:192dpi),
        (min-resolution:2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/image-background/hero-bg-tab-2x.jpg);
        }
    }
        @media screen and (min-width:1200px) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/image-background/hero-bg-desk-1x.jpg);
    
            @media (min-device-pixel-ratio:2),
            (min-resolution:192dpi),
            (min-resolution:2dppx) {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url(../images/image-background/hero-bg-desk-2x.jpg);
            }
        }
}
.hero__section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero__title {
    color: variable.$title-second-color;
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    letter-spacing: 0.06em;
    text-align: center;
    width:696px;
    margin-bottom: 30px;
}
@media (max-width: 479px) {
    .hero__title {
    font-size: 26px;
    width: 280px;
}
.hero__section{
    width:90%
}
}
@media (min-width: 480px) and (max-width: 767px){
 .hero__title {
    font-size: 26px;
    width: 360px;
}
}
@media (min-width: 768px) and (max-width: 1199px){
 .hero__title {
    font-size: 26px;
    width: 360px;
}
}

// @media (min-width:320px) and (max-width:479px){
//     .hero__title{
//         width:240px;
//         height:106px;
//         font-size:26px;
//         margin-left: 45px;
//         margin-bottom: 30px;
    
//     }
// }
// @media (min-width:480px) and (max-width:767px) {
//     .hero__title {
//         width: 360px;
//         height:84px;
//         font-size: 26px;
//     margin-left: 45px;
//     margin-bottom: 30px;
//     }
// }
.hero__button {
    font-family: "roboto";
    color: variable.$title-second-color;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    text-align: center;
    background-color: variable.$logo-color;
    padding: 10px 20px;
    border: none;
    margin: 0 auto;
    display: block;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: bacground-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
    color: variable.$border-color;
}
}