@use '../utility/variable';

.modal {
    height: 581px;
    width: 528px;
    margin-right: auto;
    margin-left: auto;
    background: variable.$title-second-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: relative;
    transform: hide;
    transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button {
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    position: absolute;
    top: 0;
    right: 0;
    align-items: center;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 8px;
    margin: 8px;
    background: variable.$title-second-color;


&:hover,
&:focus {
    border-color: variable.$logo-color;
    cursor: pointer;
    fill: variable.$logo-color;
}
}

.modal__button--close {
    display: block;
    width: 100%;
}

.modal__form {
    padding: 40px;
}

.modal__title {
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    padding-bottom: 2px;
}

.modal__fieldWrapper form {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    margin-bottom: 10px;
}

.modal__label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: variable.$text-main-color;
    margin-bottom: 4px;
    margin-top: 10px;
}

.modal__inputWrapper {
    display: block;
    position: relative;
}

.modal__input {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    padding: 12px 16px 12px 42px;
    transition: transform border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;


&:focus {
    border-color: variable.$logo-color;
    color: variable.$logo-color;
    outline: none;

}}

.modal__input--icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus~.modal__input--icon {
    fill: variable.$logo-color;
}

.comments {
    resize: none;
    width: 448px;
    height: 120px;
}

.modal__checkbox {
    display: flex;
    align-items: baseline;
    padding-top: 15px;
}

.modal__checkbox--input {
    cursor: pointer;
}

.modal__checkbox--label {
    cursor: pointer;
    padding-left: 9px;
}

.modal__button--send {
    color: variable.$title-second-color;
    background: variable.$logo-color;
    font-size: 16px;
    font-weight: 700;
    border: none;
    padding: 10px 80px;
    margin: auto;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    line-height: 30px;
    border-radius: 4px;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

&:hover,
&:focus {
    color: variable.$border-color;
}}

@media (min-width: 480px) and (max-width: 1199px) {
    .modal{
        width: 450px;
    }

    .modal__form {
        width: 370px;
    }

    .modal__title {
        margin-bottom: 12px;
    }

    .modal__label{
        display: flex;
        width: 370px;
    }
    .modal__input {
        width: 370px;
    }
    .modal__button--send{
        margin-bottom: 20px;
    }
}
@media (min-width: 320px) and (max-width: 479px) {
    .modal {
        width: 320px;
        height:620px;
    }

    .modal__form {
        width: 240px;
    }

    .modal__title {
        margin-bottom: 12px;
    }

    .modal__label {
        display: flex;
        width: 240px;
    }

    .modal__input{
        width: 240px;
    }
    .modal__button--send {
        margin-bottom: 20px;
    }
}