*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    color: var(--black-color);
    font-family: "roboto", "sans-serif";
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.03em;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button:hover,
button:focus {
    cursor: pointer;
}
